<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>BE15 Fruits</title>
    </head>
    <body>
        <ul> 
            {% for fruit in fruits %}
                {% if fruit == "딸기" %}
                    <li>!!! {{ fruit }}</li>
                {% else %}
                    <li>{{ fruit }}</li>
                {% endif %}
            {% endfor %}
        </ul>
    </body>
</html>