option_settings:
    aws:elasticbeanstalk:application:environment:
        PYTHONPATH: "/var/app/current:$PYTHONPATH"
    aws:elasticbeanstalk:container:python:
        WSGIPath: "main:app"
    aws:ec2:instances:
        MinSize: '1'
        MaxSize: '3'
        InstanceTypes: t3.micro
%     aws:autoscaling:trigger:
%         MeasureName: CPUUtilization
%         Statistic: Average
%         Unit: Percent
%         Period: '180'
%         ...